<div class="row">
    <div class="container mt-5 pl-5">
        <h2 class="text-center"></h2>
        <form action="/api/appointment" method="POST">
            <div class="form-group">
                <label>Add Retailer Schedule</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="name" placeholder="Retailer Name">
                    </div>
                    <div class="col-md-3">
                        <input type="time" class="form-control" name="slotInTime" id="slotInTime" placeholder="In Time">
                    </div>
                    <div class="col-md-3">
                        <input type="time" class="form-control" name="slotOutTime" id="slotOutTime"
                            placeholder="Out Time">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Date:</label>
                <input type="date" class="form-control" name="slotDate" placeholder="">
            </div>
            <button type="submit" class="btn btn-dark float-right">submit</button>
        </form>
    </div>
</div>