<div class="row">
    <div class="container mt-5 pl-5">
        <form action="" method="POST">
            <a href="/login" type="submit" class="btn btn-dark">Login</a>
            <a href="/register" type="submit" class="btn btn-dark">Register</a>

        </form>
    </div>
</div>