<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Register</h2>
            <form action="/api/register" method="POST">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
            </form>
        </div>
    </div>
</div>